@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --brand-pink: #E91E63;
  --brand-black: #000000;
  --brand-white: #FFFFFF;
  --brand-cream: #FDFCF0;
  --brand-gray: #4B5563;
  --brand-gold: #C5A028;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-pink: var(--brand-pink);
  --color-brand-black: var(--brand-black);
  --color-brand-cream: var(--brand-cream);
  --color-brand-white: var(--brand-white);
  --color-brand-gray: var(--brand-gray);
  --color-brand-gold: var(--brand-gold);

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}